h1 {
    color: blue;
    font-size: 60px;
    font-family: sans-serif;
    text-align: center;
  }

  h2 {
    color: black;
    font-size: 40px;
    font-family: sans-serif;
    text-align: justify;
  }

  h2 {
    color: black;
    font-size: 40px;
    font-family: sans-serif;
    text-align: justify;
  }